.iniciocs{
  background-image: url(../image/background-blur-6.png);
 
    background-size: cover; 
    -ms-background-size: cover; 
    -o-background-size: cover;
    -moz-background-size: cover; 
    -webkit-background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;

}
.modal-title{
  color: #000;
}

.modal-body{
  margin-top: -20px;
}

.modal-cuerpo{
  margin-top: 10px;
  text-align: center;
}

.modal-footer{
  text-align: center;
}

.jumbotron
{
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: #2f3640;

  /* background: -webkit-linear-gradient(rgb(41, 128, 185),rgb(52, 152, 219));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
 
    
font-family: "Arial Black", Gadget, sans-serif;
font-size: 30px;
letter-spacing: 2.8px;
word-spacing: 5.8px;
color: rgb(255, 255, 255);
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase; */

}
.jumbutron #textoBienvenida{
  color: red;
}
.wrap
{
  width: 100%;
  height: 100%;
}

* {box-sizing: border-box}


/* Style the tab */
.tab {
    float: left;
    background-color: #f1f1f1;
    width: 30%;
    height: relative;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*position: relative !important;*/
    border-collapse: separate;
    float: left;
    padding: 10px;
    width: 70%;
    border-left: none;
    max-height: 900px;
    overflow: auto;
    overflow-x: hidden;
}

.gallery{
  margin: 10px 50px;
}

.gallery img{
  width: 340px;
  height: 240px;

  transition: 0.5s;

  -webkit-border-radius: 15px;
  border-radius: 15px;
  
}


.gallery img:hover{
  transform: scale(1.2);
}

.form-login {
  background-color: rgb(41, 128, 185);
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;

  -webkit-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
}


.navbar-default {
  margin-bottom: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}


.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
}


.regis
{
  background-color: #ecf0f1;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;

}


.loginc
{
  margin-top:20px;
  background-color: #ecf0f1;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
}
.loginc label{
  color:white;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #2980b9;
  border-color: #2980b9;
}


.maininsti
 {
  width: 100%;
  height: 100%;
 }

.jumbotron2
{
  background: -webkit-linear-gradient(rgb(41, 128, 185),rgb(52, 152, 219));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
    
font-family: "Arial Black", Gadget, sans-serif;
font-size: 30px;
letter-spacing: 2.8px;
word-spacing: 5.8px;
color: rgb(236, 17, 10);
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;

}

.kv-sidenav{
  height:1000px;
}

.panel-primary{
  margin-bottom: 0px;
}
.nav-stacked{
  background-color: white;
}
.notiboton{
  background-color:white;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  float: top;
  height: 130%;
  padding: 15px; /* firefox bug fix */
  width: auto;
  position: relative;
  bottom: 10px;
}


.carousel-inner > .item > img {
  margin: 0 auto;
}

.media{
  position: relative;
  left:10px;
  width: 30%;
  padding-right: 50px;
  height:auto;
}
.media-body{
  position: relative;
  left: 100px;
  bottom: 80px;
}
.admin{
  border-radius: 250px;
}

/*esto es el texto de arriba de notificaciones*/
.media-body >h4{
  color:white;
  text-transform: capitalize;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  text-align: left;
  width: 400px;
}
.recibidos{
  border: 1px solid white;
}

/* arregla margen de aulas*/
.btn-vistav{
  margin-top: 10px;
}


/*Estilo del placeholder*/

::-webkit-input-placeholder { /* Chrome */
  opacity: 0.2;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.2;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.2 !important;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  opacity: 0.2;
  font-style: italic;
}

.mensaje{
  padding-top: 5px;
  min-height: 650px;
  width: 50%;
  overflow: hidden;
  position: relative;
  left: 20px;
}
.botton01{
  padding-top: 5px;
  min-height: 650px;
  width: 50%;
  overflow: hidden;
  position: relative;
  left: 20px;
}



/*Estilo de scroll solo funciona en crome*/

/* width */
.tabcontent::-webkit-scrollbar {
  width: 10px;

}

/* Track */
.tabcontent::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle */
.tabcontent::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
.tabcontent::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*panel de log*/
.log {
  background-color: rgb(41, 128, 185);
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  width: 90%;
  float: center;
  margin: auto; 
  margin-top: 20px;
  text-align: center;
}


.log>p{
  color: white;
}
.log>h1{
  color: white;
  border-bottom: 1px solid white;
}

/*panel azul generico*/

.azul{
  background-color: #2980b9;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  margin: auto; 
  margin-top: 20px;
  text-align: center;
}

.panel_a{
  background-color: #ffffff;
  border-width: 20px;
  box-shadow:0 1px 0 #cfcfcf;
  margin: auto;
  text-align: left;
}
.azul label{
  color: white;
  float: left;
  
}
.azul h1{
  color:white; 
  border-bottom: 1px solid white;
}
.azul p{
  color:white;
  font-weight: bold;
}
.enviado{
  width: 80%;
}

.miBoton {
	background-color: #1475b9;
  color: #fff;
  text-align: left;
}



* {
  margin: 0px;
  padding: 0px;
}


#sidebar {
  position: absolute;
  width: 200px;
  height: 145%;
  background: #1475b9;
  left: 0px;
  transition: all 500ms linear;
  top: 50px;
}

#sidebar.active {
  left: -200px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 200px;
  top: 0px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  background-color: #1475b9;
  display: block;
  width: 30px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #000;
} 


/* Barra lateral nueva de notificaciones*/
.sidenav {
  position: absolute;
  width: 180px;
  height: 145%;
  left: 0px;
  top: 50px;
  background-color: white;
  overflow-x: hidden; 
  padding-top: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  color: black;
}
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}


/*Para hacer mas responsivo notificaciones*/

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    text-align: center !important;
    left: 0px;
  }
  .sidenav a {
    float: none;
    text-align: center;
  }
  .enviado {
      max-height: auto;
      width: auto !important;
      height: auto;
      position: relative;
      top: 0px;
  }
  .enviado a {
      float: none;
      text-align: center;
  }
  .main{
      margin-left: 0px;
  }
  .mensaje{
      margin: 0px ;
      width: auto !important;
      float: none !important;
      left: 0px !important;
  }
  .alert{
    text-align: center;
  }
  .tabcontent{
    float: none;
  }
}    
  
.error{
  text-align: center;
  color: white;
}
.sede{
  background-color: #1475b9;
}
.sede p{
  color:#2980b9;
  text-transform:uppercase;
  font-weight: bold;
}
.sede h4{
  border:0 solid #2980b9; 
  border-bottom-width:1px;
  padding-bottom:10px;
  color:  #2980b9;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
.thumbnail{
  background-color: white;
  border: 1px solid #2980b9;
  padding: 0px !important;
}
.titulo{
  font-weight: bold; 
  color:white; 
  /*text-decoration: underline;*/
  text-shadow: 2px 2px grey;
  text-align: center;
}
/* gridView */

.grid{
  background-color: white;
  border: 2px solid #2980b9;
  color:#2980b9 !important;
  text-transform: uppercase;
  font-weight: bold;

}
.grid a{
  color: white;
}
.grid td a{
  color:#2980b9;
}
.grid td{
  border: 2px solid grey !important;
}
.grid th{
  border: 2px solid grey !important;
  background-color: #2980b9;
  color: white;
}


 .button1 {
    float: left;
    margin-top: 18px;
  }

/*.grid tr:nth-child(odd){
  background-color: #4C8BF5;
  color: #fff;
}
.grid tr:nth-child(even){
  background-color: #4C8BF5;
  color: #fff;
}
*/
.float-right{
  text-align: right;
}
.notificacion-create{
  color: white;
}
.miPanel{
  padding-top:15px;
  padding-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  /*background-color: white;
  color: #1475b9;*/
}

/*iconos de administracion*/
.well{
  margin-top: 20px;
  width:80%;
  text-align: center;
  border:0px;
  border-radius: 10px;
}

.weell{
  margin-top: 0px;
  width:100%;
  text-align: center;
  border:0px;
  border-radius: 10px;
}

.testing{
  margin-top:-10px;
}

.manual li{
  margin-left: 32px;
}

.manual a{
  color: #2980b9;
}
.site-about img{
  max-width: 100%;
}

/*Acerca de*/
.blacktopline{
  height: 20px;
  background-color:black;
  margin-top: 20px;
  margin-bottom: 20px;
}
#datacontenido{
  margin: 0 auto;
}
.namenews{
  font-size: 14vh;
  margin: 0 auto;
  width: 100%;
  text-align:center;
  font-family: 'Tangerine', cursive;
  color:#000000;
}
.datanews{
  height: 40px;
  border: solid 1px gray;
  width:100%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
.datanews ul{
  width: 100%;
  margin-left:-40px;
}
.datanews ul li {
  display: inline-flex;
  margin: 0 auto;
  padding: 10px;
}

.titleplana{
  margin: 0 auto;
  text-align:center;
  width:100%;
  text-transform: uppercase;
  font-size: 6.4vh;
  margin-bottom:10px;
}

.body-contnent1{
  width:100%;
  display:block;
  margin-left:25%;
}
.body-contnent2{
  width:100%;
  display:block;
  margin-left:27%;
}

.div-col4{
  width: 33.33%;
  display:inline-flex;
  padding:10px;
}
.div-col3{
  width:25%;
  display:inline-flex;
  padding:10px;
}
h3{
  font-size: 3.6vh;
  margin-bottom: 9px;
}


@media screen and (max-width: 1100px) {
  .navbar-brand img{
    display: none;
  }
  .navbar-right a{
    font-size: 13px;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  .navbar-default a{
    font-size: 13px;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  
}

@media screen and (max-width: 850px) {
  .navbar-right a{
    font-size: 13px;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .navbar-default a{
    font-size: 13px;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  
  

}

